<!-- About Section -->
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">This is AT Lab, the new portal for Auckland Transport!</h2>
                    <hr class="light">
                    <p class="text-faded">AT lab is the place that welcomes transport related ideas to Auckland, as well as providing instructions and examples for Developers to create their own applications.</p>
                   
                    <!--a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a-->
                </div>
            </div>
        </div>
    </section>