    <aside class="bg-dark">
        <div class="container text-center">

                <h2>Products built with Auckland Transport API</h2>
       
        </div>
    </aside>

    <section class="no-padding bg-dark" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.png" class="portfolio-box" title="AT Metro" caption="App that has Journey Planner and Real Time board integrated, available on Android and iOS." data-source="http://test.com">
                        <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Auckland Transport
                                </div>
                                <div class="project-name">
                                    AT Metro
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.png" class="portfolio-box" title="Track My Bus" caption="App that allows user to save their favorite bus stops to easily find when the next bus is arriving." data-source="http://test.com">
                        <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Auckland Transport
                                </div>
                                <div class="project-name">
                                    Track My Bus
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.png" class="portfolio-box" title="Journey Planner" caption="App that allows user to plan for their journey for bus, train and ferry." data-source="http://test.com">
                        <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Auckland Transport
                                </div>
                                <div class="project-name">
                                    Journey Planner
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
               
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <!--h2>Free Download at Start Bootstrap!</h2-->
                <a class="btn btn-default btn-xl sr-button">Tell us about your app!</a>
            </div>
        </div>
    </aside>