<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">
    {% include navbar.html %}
    
    <!-- Header -->
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">The new portal for AT is here</h1>
                <hr>
                <p>There's never been a better time to develop your own transportation applications.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>
    {% include about.html %}
    {% include services.html %}
    {% include gallery.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>